# === C++ STUFF ===
*.o
*.obj
*.exe
*.out
*.app
*.dwo
*.pdb
*.dll
*.so

# === PYTHON STUFF ===
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.pytest_cache/

# === TOOLS & OS ===
.vscode/
.DS_Store
Thumbs.db
